/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

body {
  font-family: "Open Sans", sans-serif;
  font-size: $fs-base;
  font-weight: $fw-regular;
}

.container {
  margin: auto 0.25rem;
  @include devices(mobile) {
    margin: auto 1.5rem;
  }
}
