.home {
  margin-bottom: 150px;
  background-color: $color-Very-Pale-Cyan;
}
.home__boxes {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  justify-content: center;
  align-items: center;
  padding: 30px 0 60px 0;
  gap: 50px;
  @media (max-width: 1440px) {
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
  }
}

.home__heading {
  font-size: 52px;
  margin-bottom: 45px;
  @media (max-width: 600px) {
    font-size: 44px;
  }
}

.home__paragraph {
  line-height: 1.5;
  margin-bottom: 50px;
}
