@include devices(mobile) {
  .footer {
    &__content {
    }

    &__logo {
    }

    &__boxes {
      display: grid;
    }

    &__box {
      display: flex;
      flex-direction: column;
    }

    &__location {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 0.5rem;
    }

    &__phone {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    &__email {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    &__icon {
      display: flex;
      font-size: 30px;
    }
  }
}
