// Primary colors

$color-Pink: hsl(322, 100%, 66%);

// Neutral colors
$color-white: #fff;
$color-Very-Pale-Cyan: hsl(193, 100%, 96%);
$color-Very-Dark-Cyan: hsl(192, 100%, 9%);
$color-Grayish-Blue: hsl(208, 11%, 55%);

// MEDIA QUERIES

$laptop: 1440px;
$mobile: 375px;

// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {...}
// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {...}
// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {...}
// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {...}
// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}
