// Colors
$clr-pink-button: hsl(322, 100%, 66%);
$clr-normal-100: hsl(0, 0%, 100%);
$clr-normal-200: hsl(193, 100%, 96%);
$clr-dark-100: hsl(208, 11%, 55%);
$clr-dark-200: hsl(192, 100%, 9%);

// Font-size
$fs-base: 16px;

// Font-weiht
$fw-regular: 400;
$fw-normal: 600;
$fw-bold: 700;
